.formContainer {
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}
.tableContainer{
  margin: auto;
  width: 50%;
  height: 40%;
  overflow-y: auto;
}
table{
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}