.container {
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.mat-raised-button{
    margin-top: 2.5rem;
}